body {/*要修正*/
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  position: absolute;
  z-index: -1;
}
/* signin */
.signin-wrap {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px #2C3E50;
  padding: 10px;
  box-shadow: 12px 12px 2px 1px #2C3E50;
  background-color: white;
}

.signin-title {
  font-size: 22px;
  font-weight: 600;
  background-color: #2C3E50;
  color: white;
  padding: 5px;
}

.signin-botton-wrap {
  padding-top: 20px;
}

/* Calendar */
td.fc-day-sat {
  background-color: #eaf4ff;
}
td.fc-day-sun {
  background-color: #eaf4ff;
}
.fc-list-event-time {
  display:none;
}

/* BugerMenu */
.header-app-name {
  color: white;
  float: left;
  margin-left: 80px;
  margin-top: 10px;
  font-weight: 800;
  font-size: 20px; 
}

.header-left-item {
  color: white;
  float: right;
  margin-top: 10px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 24px;
  height: 20px;
  left: 36px;
  top: 16px;
}

.buger-menu-wrap {
  width: 100%;
  height: 50px;
  background-color: #2C3E50;
}

.buger-menu-content {
  width: 100%;
  float: left;
  margin: 15px 0 0 0;
  margin-left: -40px;
}

.buger-menu-content .buger-menu-content-title {
  width: auto;
  position: absolute;
  left: 10%;
  margin: 5px 5px;
}

.buger-menu-content .buger-menu-content-item {
  padding: 10px 0 0 10px;
  left: 0;
  width: auto;
}

.buger-menu-content_bottom {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #005b99;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* ModalDialog */
.overlay-base {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-after {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.overlay-before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.dialog-content-base {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin: 0 auto;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0%;
  width: 0%;
  background-color: transparent;
  transition-property: background-color, width, height;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.dialog-content-after {
  width: 90%;
  height: 90%;
  background-color: white;
}

.dialog-content-after_min {
  width: 70%;
  height: 100px;
  background-color: white;
  color: #c7243a;
}

.dialog-content-before {
  width: 0%;
  height: 0%;
  background-color: transparent;
}

.dialog-close-button-wrap {
  position: absolute;
  right: 0;
  top: 0;
}

.form-botton-wrap button:nth-of-type(2) {
  margin-left: 50px;
}